/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #091a3a;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.thinkytots-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

/* Sidebar Menu */
.sidebar ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.sidebar ul li {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    transition: background 0.3s ease;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* Content */
.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}
