* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(233, 233, 233);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    background-color: white;
    position: fixed;
    padding-top: 75px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

header .thinkytots {
    position: absolute;
    top: 6px;
    left: 20px;
    background-color: transparent;
}

header .thinkytots-logo {
    width: 170px;
    height: auto;
}

.page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 1200px;
    width: 100%;
    margin-top: 100px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #091a3a;
}

.container {
    background-color: #091a3a;
    border-radius: 15px;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px #091a3a;
}

.header {
    background-color: white;
    text-align: center;
    border-bottom: 1px solid;
    padding: 20px;
}

.header h2 {
    margin: 0;
    font-size: 22px;
}

#loading, #success-message {
    position: fixed;
    display: none;
    top: 78%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 9999;
}

#loading img {
    width: 50px;
    height: 50px;
}

.form {
    padding: 15px 40px;
}

.form-control {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label {
    margin-bottom: 5px;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    font-size: 15px;
    display: block;
}

.form-control.success input {
    border-color: rgb(0, 255, 0);
}

.form-control.error input {
    border-color: red;
}

.form-control i {
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: rgb(0, 255, 0);
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
    font-weight: bold;
    font-family: inherit;
    visibility: hidden;
}

.form-control.error small {
    color: red;
    visibility: visible;
}

.form button {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    border: 2px;
    border-radius: 4px;
    display: block;
    width: 100%;
    cursor: pointer;
}

.privacy {
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.privacy a {
    color: #007bff;
}

.login {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login label {
    color: white;
    display: block;
    text-align: center;
    width: 55%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1px;
}

.login a {
    cursor: pointer;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    color: #007bff;
}