<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alphabets.css') }}">
</head>
<body>
    <header>
        <div class="thinkytots">
            <img src="{{ url_for('static', filename='images/thinkytots.jpg') }}" alt="thinkytots-image" class="thinkytots-logo">
        </div>
        <i class="fa-solid fas fa-bars" id="menu-button" onclick="menuButtonClicked()"></i>

        <div class="user">
            <a href="{{ url_for('public.profile') }}">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="user-image" class="user-profile">
            </a>
            <span id="username">{{ current_user.username }}</span>
        </div>
    </header>
    <div class="sidebar">
        <ul>
            <li>
                <a href="{{ url_for('public.home') }}"><i class="fa-solid fas fa-home"></i>
                <span class="nav-text">Dashboard</span></a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="{{ url_for('public.settings') }}"><i class="fa-solid fas fa-cogs"></i>
                <span class="nav-text">Settings</span></a>
                <span class="tooltip">Settings</span>
            </li>
            <li>
                <a href="{{ url_for('public.logout') }}"><i class="fa-solid fas fa-sign-out-alt"></i>
                <span class="nav-text">Logout</span></a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>
    <section class="main-container">
        <div class="content">
            <h1 id="puzzle-1">Pairing Uppercase Letters with Lowercase Letters</h1>
            <div class="alphabets" id="uppercase-alphabets">
                <div class="box" id="A" class="uppercase">{{ uppercase_alphabet[0] }}</div>
                <div class="box" id="B" class="uppercase">{{ uppercase_alphabet[1] }}</div>
                <div class="box" id="C" class="uppercase">{{ uppercase_alphabet[2] }}</div>
                <div class="box" id="D" class="uppercase">{{ uppercase_alphabet[3] }}</div>
                <div class="box" id="E" class="uppercase">{{ uppercase_alphabet[4] }}</div>
                <div class="box" id="F" class="uppercase">{{ uppercase_alphabet[5] }}</div>
                <div class="box" id="G" class="uppercase">{{ uppercase_alphabet[6] }}</div>
                <div class="box" id="H" class="uppercase">{{ uppercase_alphabet[7] }}</div>
            </div>
            <p id="time">TIMER</p>
            <div class="alphabets" id="lowercase-alphabets">
                <div class="box" id="a" class="lowercase">{{ lowercase_alphabet[0] }}</div>
                <div class="box" id="b" class="lowercase">{{ lowercase_alphabet[1] }}</div>
                <div class="box" id="c" class="lowercase">{{ lowercase_alphabet[2] }}</div>
                <div class="box" id="d" class="lowercase">{{ lowercase_alphabet[3] }}</div>
                <div class="box" id="e" class="lowercase">{{ lowercase_alphabet[4] }}</div>
                <div class="box" id="f" class="lowercase">{{ lowercase_alphabet[5] }}</div>
                <div class="box" id="g" class="lowercase">{{ lowercase_alphabet[6] }}</div>
                <div class="box" id="h" class="lowercase">{{ lowercase_alphabet[7] }}</div>
            </div>

            <h1 id="puzzle-2" style="display: none;">Arrange Alphabets in Alphabetical Order</h1>
            <div class="alphabets" id="alphabets-order" style="display: none;">
                <div class="box" id="a">a</div>
                <div class="box" id="b">b</div>
                <div class="box" id="c">c</div>
                <div class="box" id="d">d</div>
                <div class="box" id="e">e</div>
                <div class="box" id="f">f</div>
                <div class="box" id="g">g</div>
                <div class="box" id="h">h</div>
            </div>
            <p id="time" style="display: none;">TIMER</p>
            <div class="alphabets" id="alphabets-displayed" style="display: none;">
                <div class="box" id="A">{{ alphabet_displayed[0] }}</div>
                <div class="box" id="B">{{ alphabet_displayed[1] }}</div>
                <div class="box" id="C">{{ alphabet_displayed[2] }}</div>
                <div class="box" id="D">{{ alphabet_displayed[3] }}</div>
                <div class="box" id="E">{{ alphabet_displayed[4] }}</div>
                <div class="box" id="F">{{ alphabet_displayed[5] }}</div>
                <div class="box" id="G">{{ alphabet_displayed[6] }}</div>
                <div class="box" id="H">{{ alphabet_displayed[7] }}</div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alphabets.js') }}"></script>
</body>
</html>